.input {
    border-radius: 5px;
    background: #262428;
    border: 2px solid #262428;
    padding: 8px 20px;
    margin-bottom: 20px;

    font-family: Inter;
    color: #F2F1F3; 
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: all .1s ease;
}

.input:focus{
    border: 2px solid #8F47EB;
}

.error-input, .error-input:focus{
    border: 2px solid #eb4762;
}

.input::placeholder{
    color: #4E4954;
}


@media screen and (max-width:650px){
    .input{
        font-size: 14px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 400px){
    .input{
        padding: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
}